/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*==================== MATERIAL ICONS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 230; /* Red 0 - Orange 24 - Blue 230 - Purple 250 - Green 142 - Pink 340*/

  /* HSL color mode */
  /* Primary Colors */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  /* --first-color-dark: hsl(var(--hue-color), 57%, 53%);
  --first-color-light: hsl(var(--hue-color), 92%, 85%); */
  /* BG Colors */
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --bg-first-color: hsl(var(--hue-color), 69%, 90%);
  --bg-first-color-dark: hsl(var(--hue-color), 57%, 87%);
  --bg-first-color-light: hsl(var(--hue-color), 92%, 95%);
  /* Text Colors */
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  /* Notification Colors */
  --success-color: hsl(149, 58%, 54%);
  --danger-color: hsl(339, 82%, 51%);
  --warning-color: hsl(51, 73%, 55%);
  /* Scroll Colors */
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  /* Shadow Colors */
  --shadow-color: rgba(0, 0, 0, 0.2);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark_mode {
  /* HSL color mode */
  /* BG Colors */
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --bg-first-color: hsl(var(--hue-color), 38%, 17%);
  --bg-first-color-dark: hsl(var(--hue-color), 40%, 15%);
  --bg-first-color-light: hsl(var(--hue-color), 22%, 21%);
  /* Text Colors */
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  /* Scroll Colors */
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  /* Shadow Colors */
  --shadow-color: rgba(255, 255, 255, 0.1);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  width: 100vw;
  height: 100dvh;
  height: -webkit-fill-available;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

p {
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button {
  background: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== LAYOUT ====================*/
.container {
  padding: 2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.flex {
  display: flex;
  gap: 1.5rem;
}

.main {
  display: block;
  position: relative;
}

.header {
  padding: 1rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: var(--first-color);
  padding: 0.5rem 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px var(--shadow-color);
  transition: All 0.1s linear;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: 5px 5px 15px var(--shadow-color);
}

.btn.btn-success {
  background-color: var(--success-color);
}
.btn.btn-danger {
  background-color: var(--danger-color);
}
.btn.btn-warning {
  background-color: var(--warning-color);
}

.btn span.icon {
  margin-right: 0.5rem;
}

.form-control-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-control-group .form-control {
  width: 100%;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control label {
  display: block;
  margin-bottom: 0.3rem;
}

.form-control input + label {
  display: inline-block;
}

.form-control input[type="text"],
.form-control input[type="file"],
.form-control input[type="email"],
.form-control select,
.form-control textarea {
  font-family: var(--body-font);
  border: none;
  background-color: var(--bg-first-color-light);
  border-radius: 0.5rem;
  color: var(--text-color);
  padding: 0.7rem;
  width: 100%;
  height: 2.5rem;
  font-size: var(--normal-font-size);
  outline: none;
}

.form-control textarea {
  resize: none;
  height: 200px;
}

.radio-container-inline {
  display: inline-flex;
  align-items: center;
}

.form-control input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 3px solid var(--bg-first-color-light);
  border-radius: 50%;
  margin-right: 0.3rem;
}

.form-control input[type="radio"]:checked {
  border: 3px solid var(--first-color);
  background: var(--first-color);
}

.form-control input[type="radio"] + label {
  margin-right: 1rem;
  margin-bottom: 0;
}

.txt-red {
  color: var(--danger-color);
}

.invalid-feedback {
  display: none;
  color: var(--danger-color);
}

.was-validated :invalid ~ .invalid-feedback {
  display: block;
}
/*==================== NAV ====================*/

#navbar_bg_mobile {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none;
}
#navbar_bg_mobile.show {
  display: block !important;
}

.nav {
  position: absolute;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-first-color-light);
  z-index: 100;
  transition: left 0.3s ease-in-out;
  overflow: auto;
}
.nav.show-menu {
  left: 0;
}

.nav__logo,
.link-icon {
  color: var(--title-color);
  cursor: pointer;
  transition: All 0.1s linear;
}
.nav__logo {
  font-size: 1.5rem;
  color: var(--first-color);
  text-align: left;
  margin-right: auto;
}

.nav__logo:hover,
.link-icon:hover {
  color: var(--first-color);
  text-shadow: 3px 3px 8px var(--shadow-color);
}
body.dark_mode .nav__logo:hover,
body.dark_mode .link-icon:hover {
  text-shadow: 2px 2px 5px var(--shadow-color);
}

.nav__btn {
  margin: 1rem;
}

#change-theme,
#nav-close {
  font-size: var(--h1-font-size);
  padding-right: 0;
  transition: All 0.1s linear;
}

.nav__menu {
  margin-top: 2rem;
  margin-bottom: auto;
}

.nav__item {
  border-bottom: 1px solid var(--bg-first-color);
}
.nav__item:first-child {
  border-top: 1px solid var(--bg-first-color);
}

.nav__link {
  color: var(--title-color);
  cursor: pointer;
  transition: All 0.1s linear;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.active-link,
.nav__link:hover {
  color: var(--first-color);
  text-shadow: 3px 3px 8px var(--shadow-color);
  background-color: var(--bg-first-color);
}

body.dark_mode .active-link,
body.dark_mode .nav__link:hover {
  text-shadow: 2px 2px 5px var(--shadow-color);
}

.nav__link .nav__icon {
  margin-right: 0.5rem;
}

.nav__user {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.nav__user .nav__btn {
  margin: 0;
  margin-right: auto;
}

/*==================== LIST ====================*/
.listing {
  width: 100vw;
  height: 100dvh;
  background-color: var(--bg-first-color-dark);
}

.nav-toggle {
  font-size: var(--big-font-size);
  margin: 0;
  margin-right: 1rem;
  color: var(--title-color);
  cursor: pointer;
  transition: All 0.1s linear;
}

.nav-toggle:hover {
  color: var(--first-color);
  text-shadow: 1px 1px 5px var(--shadow-color);
}

.search-frm {
  background-color: var(--bg-first-color-light);
  border-radius: 0.5rem;
  display: flex;
  width: 100%;
}

.search-frm input {
  border: none;
  background: none;
  color: var(--text-color);
  padding: 0.7rem;
  width: 100%;
  font-size: var(--small-font-size);
  outline: none;
}

.search-frm button {
  margin-right: 1rem;
  color: var(--text-color);
  cursor: pointer;
}
.search-frm button:hover {
  color: var(--first-color);
}

.title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  padding: 1rem;
  line-height: 3rem;
}

.contact__list {
  height: calc(100dvh - 10rem); /* 100vh - header - title */
  overflow: auto;
  padding: 0 1rem;
  padding-bottom: 1.5rem;
}

.contact__item {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 15px var(--shadow-color);
  cursor: pointer;
  transition: All 0.1s linear;
}

.contact__item:hover {
  transform: translateY(-1px);
  box-shadow: 10px 10px 20px var(--shadow-color);
}

.contact__item.active {
  background-color: var(--first-color);
  color: #fff;
}
.contact__item.active .cname {
  color: #fff;
}

.cimage {
  width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 2px solid var(--bg-first-color-light);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}
.cimage-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-first-color-light);
  font-weight: var(--font-medium);
  font-size: var(--h3-font-size);
  color: var(--first-color);
}
.contact__item.active .cimage-txt {
  background-color: var(--bg-first-color-dark);
}
.cinfo {
  margin-right: auto;
}
.cname {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.cemail,
.cmobile {
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.tag-icon.family {
  color: var(--success-color);
}
.tag-icon.friend {
  color: var(--warning-color);
}
.tag-icon.office {
  color: var(--danger-color);
}

/*==================== DETAILS ====================*/
.details {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100dvh;
  background-color: var(--body-color);
  z-index: 50;
  overflow: hidden;
  transition: All 0.3s ease-in-out;
  visibility: hidden;
}
.details.show {
  visibility: visible;
  transform: translateX(-100%);
}

.details .header {
  box-shadow: 0 2px 5px var(--shadow-color);
}

#nav-action-btn {
  margin-left: auto;
}

.nav-before,
.nav-edit,
.nav-delete {
  font-size: var(--h1-font-size);
  margin: 0;
  padding: 0 1rem;
  color: var(--title-color);
  cursor: pointer;
  transition: All 0.1s linear;
}

.nav-before:hover,
.nav-edit:hover,
.nav-delete:hover {
  color: var(--first-color);
  text-shadow: 1px 1px 5px var(--shadow-color);
}

.nav-edit:hover {
  color: var(--warning-color);
}

.nav-delete:hover {
  color: var(--danger-color);
}

.info {
  padding: 1.5rem;
  height: calc(100dvh - 5rem);
  overflow: auto;
}

.basic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basic-info img {
  width: 150px;
  border: 3px solid var(--bg-first-color-light);
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  margin-bottom: 1rem;
}
.basic-info div {
  text-align: center;
}
.basic-info h1 {
  color: var(--first-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  line-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basic-info h1 .tag-icon {
  margin-left: 1rem;
}

.basic-info,
address {
  margin-bottom: 1rem;
}

.other-info p {
  text-align: justify;
}

/*==================== ADD / EDIT ====================*/
.add__details,
.edit__details {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  max-width: 700px;
  height: 100dvh;
  background-color: var(--body-color);
  box-shadow: -1px 0px 5px var(--shadow-color);
  z-index: 50;
  overflow: hidden;
  transition: All 0.3s ease-in-out;
  visibility: hidden;
}
.add__details.show,
.edit__details.show {
  visibility: visible;
  transform: translateX(-100%);
}

.add__details .header,
.edit__details .header {
  box-shadow: 0 2px 5px var(--shadow-color);
}

.nav-back {
  font-size: var(--h1-font-size);
  margin: 0;
  padding: 0 1rem;
  color: var(--title-color);
  cursor: pointer;
  transition: All 0.1s linear;
}

.nav-back:hover {
  color: var(--first-color);
  text-shadow: 1px 1px 5px var(--shadow-color);
}

.card-title {
  color: var(--first-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
}

.frm-details {
  padding: 1.5rem;
  height: calc(100dvh - 5rem);
  overflow: auto;
}

.input-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-image label {
  position: relative;
  cursor: pointer;
}
.input-image .cdimage {
  width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
  border: 2px solid var(--bg-first-color-light);
  border-radius: 50%;
  overflow: hidden;
}

.input-image .up-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  background-color: var(--bg-first-color-light);
  padding: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.input-image input[type="file"] {
  display: none;
}

/*========== BROWSER SETTINGS ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-color);
}
/*==================== MEDIA QUERIES ====================*/

/* For medium devices min-width: 768px */
@media screen and (min-width: 768px) {
  .main {
    display: flex;
  }
  .listing {
    width: 400px;
    flex-shrink: 0;
  }
  .details {
    position: static;
    visibility: visible;
  }
  .details.show {
    transform: translateX(0);
  }
  #nav-before-btn {
    display: none;
  }
  .basic-info {
    flex-direction: row-reverse;
  }
  .basic-info img {
    width: 100px;
    margin: 0;
    margin-left: 1rem;
  }
  .basic-info div {
    margin-right: auto;
    text-align: left;
  }
  .form-control-group {
    flex-direction: row;
  }
  .form-control-group .form-control {
    margin-right: 1rem;
  }
  .form-control-group .form-control:last-child {
    margin-right: 0;
  }
}
/* For large devices min-width: 1024px/1200px */
@media screen and (min-width: 1200px) {
  .nav {
    position: static;
    flex-shrink: 0;
  }
  #nav-toggle-btn {
    display: none;
  }
  #nav-close-btn {
    display: none;
  }
}
